//默认主题
//  头部
$background-color-header-theme: #f0f2f3;

//  菜单
$background-color-nav-active-theme: #ffffff;//菜单选中背景色
$color-nav-text-theme: #0a1220a3;//菜单未选中颜色
$color-nav-active-text-theme: #409EFF;//菜单选中颜色
