html,body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  /* background: #1F2D3D; */
  font-family: Microsoft YaHei, "微软雅黑";
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ol,ul,li,menu {
  list-style: none
}

a {
  display: inline-block;
  text-decoration: none;
  color:inherit;
}

a:focus,a:hover {
  outline: none
}

/* element */

.el-menu {
  border-right: none !important;
}